vti_encoding:SR|utf8-nl
vti_author:SR|ALISON_LAPTOP\\Alison
vti_modifiedby:SR|ALISON_LAPTOP\\Alison
vti_timelastmodified:TR|21 Jun 2019 13:18:44 -0000
vti_timecreated:TR|24 Apr 2019 10:43:33 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|services/services.html calendar/calendar\\ -\\ Copy.html activities/Biblestudy.html activities/guides.html activities/Men.html photo_gallery/default.html activities/busydays.html activities/folkdance.html activities/Saturdaycoffee.html news/news.html activities/activities\\ -\\ Copy\\ -\\ Copy.html activities/craft.html activities/holidayclub.html activities/activities.html about/default.html calendar/calendar.html activities/market.html activities/walking.html contact/contact.html activities/daycentre.html activities/Jrchoir.html activities/speakeasy.html faq/default.html master.dwt activities/TEST.html history/history1.html activities/boysbrigade.html activities/sstchoir.html information_links/links.html history/history_copy.html activities/GospelChoir.html activities/prayer.html activities/Thursdayclub.html services/services\\ -\\ Copy.html history/history.html index.html
vti_nexttolasttimemodified:TW|25 Apr 2019 10:07:36 -0000
vti_cacheddtm:TX|21 Jun 2019 13:18:44 -0000
vti_filesize:IR|3358
vti_cachedlinkinfo:VX|Q|layout.css S|../images/background.jpeg S|../images/blueswirl.png
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css NSUS|images/background.jpeg FSUS|images/blueswirl.png
vti_syncwith_freeolaweb0.freeola.net\:21:TX|21 Jun 2019 13:18:44 -0000
vti_syncofs_freeolaweb0.freeola.net\:21:TW|22 Jun 2019 15:35:23 -0000
